/* Media Details Page - Styles */
.MoviesPage {
    margin: 50px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.MovieDetailsCard {
    width: 100%;
    background-color: var(--color-fourth);
    padding: 30px;
    color: var(--color-secondary);
    display: flex;
    gap: 30px;
}


.MovieDetailsCard .Media {
    flex: 1;
}

.MovieDetailsCard .Media img {
    width: 100%;
    border-radius: 15px;
    height: 100%;
}

.MovieDetailsCard .Content {
    padding: 40px 0;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.MovieDetailsCard .Content .ContentItem {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.MovieDetailsCard .Content .ContentItem .Label {
    font-weight: 500;
    color: var(--color-primary);
    font-size: 16px;
}

.MovieDetailsCard .Content .ContentItem .Badges {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.MovieDetailsCard .Content .ContentItem .Badges span,
.MovieDetailsCard .Content .ContentItem .Badge {
    background: var(--color-fifth);
    width: max-content;
    padding: 5px 10px;
    border-radius: 15px;
    ;
}

.MovieDetailsCard .Content .ContentItem .Badges span:hover {
    background: var(--color-primary);
    color: var(--color-fourth);
    padding: 10px 20px;
}

.MovieDetailsCard .Content .ContentItem .Description {
    padding: 10px;
    width: 100%;
    line-height: 1.4;
}


.Companies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Companies img {
    width: 100%;
    max-width: 125px;
    object-fit: contain;
}

.Tabs {
    margin-block: 15px;
    display: flex;
    width: 100%;
}

.Tabs .Tab {
    width: 50%;
    background: var(--color-fourth);
    color: var(--color-secondary);
    text-align: center;
    border-inline: 5px solid var(--color-secondary);
    padding: 10px;
}

.Tabs .Tab.Active {
    background: var(--color-secondary);
    color: var(--color-fourth);
}

.TabContentWrapper {
    width: 100%;
    margin-bottom: 50px;
}

.TabContent {
    display: none;
}

.TabContent.Active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;


}

.TabContent .CastItem {
    width: 100%;
    max-width: 350px;
    border: 1px solid var(--color-trinary);
    display: flex;
    flex-direction: column;

}

.TabContent .CastItem .Image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    opacity: 0.75;
}

.TabContent .CastItem .Image:hover {
    opacity: 1;
}


.TabContent .CastItem .CastContent {
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}


.TabContent .CastItem .CastContent .Name {
    font-size: 25px;
    font-weight: 500;

}