.MoviesPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 15px;
}

.MoviesPageCard {
    width: 100%;
    height: max-content;
    background-color: var(--color-fourth);
    padding: 15px;
    border-radius: 15px;
}

.MoviesPageCard .Form {
    color: black;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.MoviesPageCard .Form .InputGroup {
    background: var(--color-fifth);
    width: 100%;
    padding: 20px 25px;
    outline: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.MoviesPageCard .Form .InputGroup .Input {
    width: 100%;
    background: transparent;
}

.MoviesPageCard .Form .Btn {
    background: var(--color-primary);
    color: var(--color-fourth);
    padding: 10px 20px;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
    align-content: center;
}

.MoviesPageCard .Form .Btn:hover {
    background: var(--color-fourth);
    color: var(--color-primary);
    font-weight: 800;
    border: 3px solid var(--color-primary);
    border-inline-start: 0px;
}

/* Media Details Page - Styles */
.MoviesPageCard.MovieDetailsCard {
    width: 85%;
    margin: 50px auto;
    background-color: var(--color-fourth);
    padding: 30px;
    color: var(--color-secondary);
    display: flex;
    gap: 30px;
}


.MoviesPageCard.MovieDetailsCard .Media {
    flex: 1;
}

.MoviesPageCard.MovieDetailsCard .Media img {
    width: 100%;
    border-radius: 15px;
    height: 100%;
}

.MoviesPageCard.MovieDetailsCard .Content {
    flex: 2;
}

.MoviesPageCard.MovieDetailsCard .Content .ContentItem {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.MoviesPageCard.MovieDetailsCard .Content .ContentItem .Label {
    font-weight: 500;
    color: var(--color-primary);
    font-size: 16px;
}


.MoviesPageCard.MovieDetailsCard .Content .ContentItem .Badge {
    background: var(--color-fifth);
    width: max-content;
    padding: 5px 10px;
    border-radius: 15px;
    ;
}